.mainCustomer {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
}

.mainCustomer img {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
}





