.mainToOrder{
    display: flex;
    justify-content:baseline;
    justify-items: center;
    text-align:start;
    margin-bottom: 1rem;
    padding: 1rem;
    
}
.mainToOrder .iconToOrder{
    display: block;
    width: auto;
    height: auto;
    padding: 40px;
    font-size: 50px;
    color: #fff;
    background-color:#296EB4 ;
    border-radius: 0.5rem;
}
.mainToOrder .textToOrder{
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.textToOrder h2 {
    color: #363535;
}

.h2Num{
    color: #296EB4;
}
.textToOrder p {
    color: #787878;
}