
.menuBkTop{
    margin: 0;
    padding: 0;
    background-color: #4B3107;
   
}


.menuBkTop .ul1  {
    list-style: none;
    text-align: center;
    
}
.menuBkTop .ul1 .li1{
    display: inline-block;
    width: auto;
    height: 30px;
    top: 0;
    position: relative;
}
.menuBkTop .ul1 .li1 a{
    display: inline-block   ;
    width: auto;
    height: 30px;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    top: 0;
    position: relative  ;

}
.menuBkTop .menuTop .li1 a:hover{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #75583c;
    text-decoration: none;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 12px;
    top: 0;
    position: relative;
    
}

.ul2 , .ul3{
    list-style: none;
    position: relative;
    text-align: start;
    left: 0;
    
}

.li2 {
    position: relative;
    margin-left: -1.9rem;
    left: 0; 
}

.ul1 .li1 .ul2 .li2 .ul3 .li3 a{
    position: relative;
    margin-left: -1.9rem;
    left: 0;
    padding-left: 1rem;
    width: 100%;
    height: 30px;
}

.ul1 .li1 .ul2 .li2 .ul3 .li3 a:hover{
    position: relative;
    margin-left: -1.9rem;
    left: 0;
    padding-left: 1rem;
    width: 114%;
    background-color: #75583c;
}


.ul1 .li1 .ul2 .li2 a {
    display: block;
    font-size: 14px;
    border-radius: 0;
}

.ul1 .li1 .ul2 .li2 a:hover {
    display: block;
    font-size: 14px;
    background-color: #75583c !important;
    border-radius: 0;
}


/* .menuBkTop .menuTop .ul1 .li1 .ul2 .li2 .ul3 .li3{
    position: absolute;
    visibility: hidden;
}  */





.menuBkTop .menuTop .ul1 .li1 .ul2{
    position: absolute;
    visibility: hidden;
}
.menuBkTop .menuTop .ul1 .li1:hover .ul2 {
    position: absolute;
    visibility:visible;
    display: block;
    width: 250px;
    height: auto;   
    padding-bottom: 1rem;
    background-color: #4B3107;
    z-index: 99999;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}


.searchMenu{
    display: block;
    width: 100%;
    height: auto;
}





.subLink a {
    text-decoration: none;
    margin-bottom: 1rem;
    display: inline-block;
    color: #878484;
}

#topofmenu {
    display: block;
}

#topofmenuPd {
    display: block;
    margin-left: 0rem;
}

@media only screen and (max-width: 600px) {
   #topofmenu {
    display: none;
    margin-left: 1rem;
   }

   #topofmenuPd {
    display: block;
   padding-left:  1.5rem;
}

  }
  